@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

[data-simulation='range']::-webkit-slider-thumb {
  @apply h-4 w-4 bg-amber-400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ここから追加 */
html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../../public/noise.png");
  background-size: 200px 200px;
  background-position: 0 0;
}

@keyframes animate {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 12433.8193359375;
  }
}
